@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Tomato: hsl(4, 100%, 67%);
 --DarkSlateGrey: hsl(234, 29%, 20%);
--CharcoalGrey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--CharcoalGrey);
   
    
}
.container{
    background-color: var(--White);
    margin-top: 0px;
    /*display: none;*/
}
.seccion-main{
    width: 375px;
    height: 558px;
   
    
}
.seccion-main-title-paragraph{
    width: 295px;
    height: 100px;
    margin-top: 35px;
    margin-left:25px; 
}
.seccion-main-title-paragraph p{
    margin-top: 13px;
    line-height: 24px;
}
.list{
    width: 340px;
    margin-top: 25px;
    margin-left: 25px;
    line-height: 25px;
    
    display: flex;
    
    
}
.list img{
    margin-right: 15px;
    margin-top: 3px;
    
    margin-bottom: 40px;
    display: flex;
    
    
    
}
.paragraph p{
    margin-bottom: 12px;
    
}
.form{
    width: 330px;
    height: 165px;
    margin-left: 25px;
   

}
.form label{
    font-size: 12px;
    font-weight: 700;
   
    }
.form input{
    border: 1px solid var(--Grey);
    border-radius: 8px;
    padding-left: 20px;
    width: 325px;
    height: 55px;
    margin-top: px;
}
.form input:hover{
    cursor: pointer;

}
.form button{
    border: 1px solid var(--Grey);
    border-radius: 8px;
    width: 328px;
    height: 55px;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    font-weight: 700;
}
.form button:hover{
    cursor: pointer;
    background-color: var(--Tomato);
    border: 1px transparent;
    filter:drop-shadow(5px 5px 5px hsl(4, 100%, 67%)) invert(1%);
    cursor: pointer;

}
/*---------second seccion---------------*/
.second-seccion{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: start;
    display :none
    /*display:none*/
    

   

}
.second-seccion img{
    margin-left: 25px;
    margin-top: 30px
;
    margin-bottom: 48px;
}
.second-seccion p{
    max-width: 350px;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 267px;

}

.second-seccion h1{
    margin-left: 25px;
    width: 225px;

}
.second-seccion button{
    border: 1px solid var(--Grey);
    border-radius: 8px;
    width: 328px;
    height: 55px;
    margin-left: 25px;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    font-weight: 700;
    margin-bottom: 35px;
}
.second-seccion button:hover{
    cursor: pointer;
    background-color: var(--Tomato);
    border: 1px transparent;
    filter:drop-shadow(5px 5px 5px hsl(4, 100%, 67%)) invert(1%);
    cursor: pointer;

}

.attribution{
    margin-left: 30px
}/***********************800px************************/
@media only screen and (min-width: 800px){


.seccion-main{
    
    width: 575px;
    height: 488px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px; 
    
    
    
}
.imagen{
    text-align: center;
    height: 290px;
    
   
    
    
   
}
.seccion-main h1{
    margin-top: 0px;
    font-size: 45px;
    
    
    
}

.seccion-main-title-paragraph{
    width: 400px;
    
    
    
}
.list{
    width: 400px;
    margin-top: 40px;
    margin-left: 25px;
    
    
    
    
}
.list img{
    
    margin-top: 3px;
    
    margin-bottom: 16px;
    display: flex;
    
    
    
}
.paragraph p{
    margin-bottom: 14px;
    
    
}
.form{
    
    margin: 10px 46px 10px 0px;
}
.form label{
    font-size: 12px;
    font-weight: 700;
    
   
    }
.form input{
    
    width: 400px;
    height: 55px;
    
}
.form button{
    border: 1px solid var(--Grey);
    border-radius: 8px;
    width: 400px;
    height: 55px;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    font-weight: 700;
}
/************second seccion*****************/
.second-seccion{
   margin: 20px;
    width: 510px;
   height: 510px;
    padding: 45px 35px 0px 40px  ;
    border: 1px solid transparent;
    border-radius: 20px;
    align-items: start;
}
.second-seccion img{
    margin-left: 25px;
;
    margin-bottom: 28px;
}
.second-seccion h1{
    
    width: 325px;
    height: 115px;
    font-size: 50px;
    color: var(--DarkSlateGrey);
    
    

}
.second-seccion p{
    width: 600px;
    height: 50px;
    
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}
.second-seccion span{
    font-weight: 700;
}

.second-seccion button{
    
   
    width: 375px;
    height: 60px;
    margin-top: 20px;

    
}




}
/***********************1400px************************/
@media only screen and (min-width: 1440px){
    .container{
        width: 991px;
        height:638px ;
        border: solid 1px transparent;
        border-radius: 8px;
        margin-top: 40px;

    }

    .seccion-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 575px;
        height: 488px;
        position: relative;
        bottom:  250px;
       
        
        
        
    }
    .imagen{
       
        position: relative;
        left: 270px;
        top: 18px;
        
       
        
        
       
    }


}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: var(--Tomato) }